
<h1>
    <span class="far fa-list-alt"></span> Snippets
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Edited</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {{#if locals.snippetItems.length }}
        {{#each locals.snippetItems}}
        <tr>
            <td class="text-center text-primary"><span class="far fa-{{#if done }}check-square{{else}}square{{/if}}"></span></td>
             
            <td class="w-100 white-space {{#if done }} text-muted {{/if}}"><div class="scrollbar">{{description}}</div></td>
        
            <td>
                {{#if this.owner}}
               
                <a href="/snippets/edit/{{id}}"><span class="far fa-edit"></span></a>
                <a href="/snippets/delete/{{id}}"><span class="far fa-trash-alt"></span></a>
            
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3" class="text-center text-danger">
                No snippets to display.
            </td>
        </tr>
        {{/if}}
 
    </tbody>
</table>